body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    max-width: 100%;
    overflow-x: hidden;
}

.bodycontainer {
    padding-left: 25px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.pluginContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    min-height: 65vh;
}

.plugin {
    background: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    width: 200px;
}

.plugin:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

a {
    text-decoration: none;
    color: #333;
}

p {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color: #007bff;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.language-toggle {
    position: relative;
    float: right;
    margin: 10px;
    width: 50px;
    height: 25px;
}
.language-toggle input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.language-toggle label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-image: url('../images/uk_flag.svg');
    background-size: cover;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25px;
}

.language-toggle label:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: -0.5px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + label {
    background-image: url('../images/de_flag.svg');
}

input:checked + label:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.textdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}